flows/BIR_Tracer-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_BIR_Tracer_to_List</name>
        <label>Add BIR Tracer to List</label>
        <locationX>644</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>BIR_Tracer_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BIRTracer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BIRTracervVar</name>
        <label>BIRTracerVar</label>
        <locationX>365</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>BIRTracer.BIR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIRTracer.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>usr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BIRTracer.Airport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>usr.Airport__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BIR_Tracer_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IF_BIR_is_not_Sent</name>
        <label>IF BIR is not Sent</label>
        <locationX>513</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>When_BIR_is_not_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRec.BIR_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Query</targetReference>
            </connector>
            <label>When BIR is not sent</label>
        </rules>
        <rules>
            <name>When_BIR_is_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRec.BIR_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IF_BIR_is_already_sent</targetReference>
            </connector>
            <label>When BIR is Sent</label>
        </rules>
    </decisions>
    <interviewLabel>BIR Tracer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BIR Tracer</label>
    <loops>
        <name>User_Loop</name>
        <label>User Loop</label>
        <locationX>511</locationX>
        <locationY>357</locationY>
        <assignNextValueToReference>usr</assignNextValueToReference>
        <collectionReference>UserList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BIRTracervVar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_BIR_Tracer_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_BIR_Tracer_List</name>
        <label>Insert BIR Tracer List</label>
        <locationX>511</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_BIR_Sent_Status</targetReference>
        </connector>
        <inputReference>BIR_Tracer_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>User_Query</name>
        <label>User Query</label>
        <locationX>512</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Loop</targetReference>
        </connector>
        <filters>
            <field>Airport__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delhi</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Airport__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_BIR_Sent_Status</name>
        <label>Update BIR Sent Status</label>
        <locationX>511</locationX>
        <locationY>723</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BIR_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>IF_BIR_is_already_sent</name>
        <label>IF BIR is already sent</label>
        <locationX>738</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BIR_SENT</name>
            <fieldText>BIR already sent.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>IF_BIR_is_not_Sent</startElementReference>
    <variables>
        <name>BIR_Tracer_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BIR_Tracer__c</objectType>
    </variables>
    <variables>
        <name>BIRTracer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BIR_Tracer__c</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BIR_Tracer__c</objectType>
    </variables>
    <variables>
        <name>UserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>usr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
