flows/Create_Customer_from_Passenger-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_New_Account_If_Account_do_not_exist</name>
        <label>Create New Account If Account do not exist</label>
        <locationX>392</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Account_do_not_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Person_Account_Record_Type</targetReference>
            </connector>
            <label>If Account do not Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>Account_ExternalId</name>
        <dataType>String</dataType>
        <expression>IF(
	{!Passenger.Name} != &quot;&quot;,  
	{!Passenger.Name} +&quot;~&quot; + {!Passenger.Last_Name__c} +&quot;~&quot; + {!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Passenger.Home_Phone__c, &quot;(&quot;, &quot;&quot;) ,&quot;)&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)}, 
	{!Passenger.Last_Name__c} +&quot;~&quot; + {!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(Passenger.Home_Phone__c, &quot;(&quot;, &quot;&quot;) ,&quot;)&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)}
)</expression>
    </formulas>
    <interviewLabel>Create Customer from Passenger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer from Passengerv6.0</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>391</locationX>
        <locationY>519</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Passenger.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__pc</field>
            <value>
                <elementReference>Passenger.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone_Type__pc</field>
            <value>
                <elementReference>Passenger.Home_Phone_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Passenger.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Passenger.Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Passenger.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>Passenger.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>Passenger.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>Passenger.Resident_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>Passenger.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>Passenger.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>Passenger.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Passenger.Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Account</name>
        <label>Check for Existing Account</label>
        <locationX>391</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Account_If_Account_do_not_exist</targetReference>
        </connector>
        <filters>
            <field>External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ExternalId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Passenger</name>
        <label>Query Passenger</label>
        <locationX>390</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PassengerId</elementReference>
            </value>
        </filters>
        <object>Passenger__c</object>
        <outputAssignments>
            <assignToReference>Passenger.City__c</assignToReference>
            <field>City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Company_Name__c</assignToReference>
            <field>Company_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Date_of_Birth__c</assignToReference>
            <field>Date_of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Gender__c</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Home_Phone_Type__c</assignToReference>
            <field>Home_Phone_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Home_Phone__c</assignToReference>
            <field>Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Last_Name__c</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Middle_Name__c</assignToReference>
            <field>Middle_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Postal_Code__c</assignToReference>
            <field>Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Resident_Country__c</assignToReference>
            <field>Resident_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.State__c</assignToReference>
            <field>State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Street__c</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Passenger.Title__c</assignToReference>
            <field>Title__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Person_Account_Record_Type</name>
        <label>Query Person Account Record Type</label>
        <locationX>391</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_Passenger</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Passenger</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Passenger__c</objectType>
    </variables>
    <variables>
        <name>PassengerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
