flows/Publish_Private_Comment-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Comment_Values</name>
        <label>Assign Comment Values</label>
        <locationX>589</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>CaseComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrivateComment.Comment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrivateComment.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_already_published</name>
        <label>Is already published ?</label>
        <locationX>354</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrivateComment.Added_to_Case_Comments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Comment_Values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Publish Private Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Private Comment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case_Comment</name>
        <label>Create New Case Comment</label>
        <locationX>590</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>UpdatePrivateComment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>CaseComment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Private_Comment</name>
        <label>Lookup Private Comment</label>
        <locationX>136</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_already_published</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivateCommentID</elementReference>
            </value>
        </filters>
        <object>Private_Comment__c</object>
        <outputReference>PrivateComment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Added_to_Case_Comments__c</queriedFields>
        <queriedFields>Comment__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePrivateComment</name>
        <label>UpdatePrivateComment</label>
        <locationX>586</locationX>
        <locationY>268</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivateCommentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Added_to_Case_Comments__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Private_Comment__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>137</locationX>
        <locationY>271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMSG</name>
            <fieldText>Error -

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_Private_Comment</startElementReference>
    <variables>
        <name>CaseComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <name>PrivateComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Private_Comment__c</objectType>
    </variables>
    <variables>
        <name>PrivateCommentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
